In [62]:
# install GlareDB package and PyArrow (for DataFrame querying to work) package
!pip install glaredb
!pip install pyarrow

import glaredb
import pandas as pd

# Pulled from https://docs.glaredb.com/introduction/python-bindings.html

Requirement already satisfied: glaredb in /Users/markmilligan/Documents/src/glaredb-hw/venv/lib/python3.12/site-packages (0.9.5)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Collecting pyarrow
  Downloading pyarrow-18.0.0-cp312-cp312-macosx_12_0_arm64.whl.metadata (3.3 kB)
Downloading pyarrow-18.0.0-cp312-cp312-macosx_12_0_arm64.whl (29.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.5/29.5 MB 6.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-18.0.0

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [63]:
# Connect to the in-memory GlareDB database
con = glaredb.connect()

In [64]:
# Run a simple query
con.sql("select 1").show()

┌──────────┐
│ Int64(1) │
│       ── │
│    Int64 │
╞══════════╡
│        1 │
└──────────┘

In [65]:
# Query from a local file (see README.md for download link)
con.sql("select * from '../data/input/sales_aggregate_by_borough.parquet'").show()

┌────────────────────────┬───────────────┐
│ COUNT(sales.sale_date) │ borough_name  │
│                     ── │ ──            │
│                  Int64 │ Utf8          │
╞════════════════════════╪═══════════════╡
│                    581 │ BRONX         │
│                   2429 │ QUEENS        │
│                    781 │ STATEN ISLAND │
│                   2270 │ BROOKLYN      │
│                   1683 │ MANHATTAN     │
└────────────────────────┴───────────────┘

In [67]:
# Query a remote file
con.sql("SELECT * FROM read_parquet('https://github.com/GlareDB/tutorial_data/raw/main/quickstart_data/nyc_sales-2022_01.parquet');").show()

┌─────────┬──────────────┬─────────────────────────┬───┬──────────┬──────────┐
│ borough │ neighborhood │ building_class_category │ … │ nta_code │ sale_day │
│      ── │ ──           │ ──                      │   │ ──       │       ── │
│   Int64 │ Utf8         │ Utf8                    │   │ Utf8     │    Int32 │
╞═════════╪══════════════╪═════════════════════════╪═══╪══════════╪══════════╡
│       2 │ BATHGATE     │ 02 TWO FAMILY DWELLINGS │ … │ BX0603   │        5 │
│       2 │ BATHGATE     │ 02 TWO FAMILY DWELLINGS │ … │ BX0602   │        5 │
│       2 │ BATHGATE     │ 02 TWO FAMILY DWELLINGS │ … │ BX0603   │       26 │
│       2 │ BATHGATE     │ 22 STORE BUILDINGS      │ … │ BX0502   │       10 │
│       2 │ BAYCHESTER   │ 01 ONE FAMILY DWELLINGS │ … │ BX1202   │       21 │
│       2 │ BAYCHESTER   │ 01 ONE FAMILY DWELLINGS │ … │ BX1202   │       19 │
│       2 │ BAYCHESTER   │ 01 ONE FAMILY DWELLINGS │ … │ NULL     │        6 │
│       2 │ BAYCHESTER   │ 01 ONE FAMILY DWELLINGS │ … │ BX1202   │        5 │
│       2 │ BAYCHESTER   │ 01 ONE FAMILY DWELLINGS │ … │ BX1202   │       10 │
│       2 │ BAYCHESTER   │ 01 ONE FAMILY DWELLINGS │ … │ BX1202   │       21 │
│       … │ …            │ …                       │ … │ …        │        … │
│       1 │ WASHINGTON … │ 10 COOPS - ELEVATOR AP… │ … │ MN1202   │       14 │
│       1 │ WASHINGTON … │ 10 COOPS - ELEVATOR AP… │ … │ MN1202   │        5 │
│       1 │ WASHINGTON … │ 10 COOPS - ELEVATOR AP… │ … │ MN1202   │       19 │
│       1 │ WASHINGTON … │ 10 COOPS - ELEVATOR AP… │ … │ MN1202   │        4 │
│       1 │ WASHINGTON … │ 13 CONDOS - ELEVATOR A… │ … │ MN1202   │        7 │
│       1 │ WASHINGTON … │ 13 CONDOS - ELEVATOR A… │ … │ MN1202   │       19 │
│       1 │ WASHINGTON … │ 13 CONDOS - ELEVATOR A… │ … │ MN1202   │        7 │
│       1 │ WASHINGTON … │ 29 COMMERCIAL GARAGES   │ … │ MN1202   │       28 │
│       1 │ WASHINGTON … │ 31 COMMERCIAL VACANT L… │ … │ NULL     │       28 │
│       1 │ WASHINGTON … │ 37 RELIGIOUS FACILITIES │ … │ MN1202   │       28 │
└─────────┴──────────────┴─────────────────────────┴───┴──────────┴──────────┘
 7744 rows (20 shown)

In [52]:
# Query a remote database
con.sql(f"""
SELECT * FROM read_postgres(
  'postgresql://demo:demo@pg.demo.glaredb.com:5432/postgres', --connection
  'public', --schema name
  'customer' --table name
);
""").show()

┌───────────┬──────────┬───────────┬───┬────────────┬──────────────┬───────────┐
│ c_custkey │ c_name   │ c_address │ … │  c_acctbal │ c_mktsegment │ c_comment │
│        ── │ ──       │ ──        │   │         ── │ ──           │ ──        │
│     Int32 │ Utf8     │ Utf8      │   │ Decimal128 │ Utf8         │ Utf8      │
╞═══════════╪══════════╪═══════════╪═══╪════════════╪══════════════╪═══════════╡
│         1 │ Custome… │ IVhzIApe… │ … │ 711.56000… │ BUILDING     │ to the e… │
│         2 │ Custome… │ XSTf4,NC… │ … │ 121.65000… │ AUTOMOBILE   │ l accoun… │
│         3 │ Custome… │ MG9kdTD2… │ … │ 7498.1200… │ AUTOMOBILE   │  deposit… │
│         4 │ Custome… │ XxVSJsLA… │ … │ 2866.8300… │ MACHINERY    │  request… │
│         5 │ Custome… │ KvpyuHCp… │ … │ 794.47000… │ HOUSEHOLD    │ n accoun… │
│         6 │ Custome… │ sKZz0Csn… │ … │ 7638.5700… │ AUTOMOBILE   │ tions. e… │
│         7 │ Custome… │ TcGe5gaZ… │ … │ 9561.9500… │ AUTOMOBILE   │ ainst th… │
│         8 │ Custome… │ I0B10bB0… │ … │ 6819.7400… │ BUILDING     │ among th… │
│         9 │ Custome… │ xKiAFTjU… │ … │ 8324.0700… │ FURNITURE    │ r theodo… │
│        10 │ Custome… │ 6LrEaV6K… │ … │ 2753.5400… │ HOUSEHOLD    │ es regul… │
│         … │ …        │ …         │ … │          … │ …            │ …         │
│    149991 │ Custome… │ W9c7PAc1… │ … │ 660.71000… │ MACHINERY    │ nstead o… │
│    149992 │ Custome… │ iwjVf1MZ… │ … │ 3417.4500… │ AUTOMOBILE   │ luffily … │
│    149993 │ Custome… │ ,uGhPmql… │ … │ 4004.6000… │ AUTOMOBILE   │ hely eve… │
│    149994 │ Custome… │ ul6ARZAK… │ … │ 5360.7500… │ HOUSEHOLD    │ gular pa… │
│    149995 │ Custome… │ PvEhdlAt… │ … │ 6103.7400… │ AUTOMOBILE   │ st the s… │
│    149996 │ Custome… │ syg3m0h2… │ … │ 8524.7100… │ AUTOMOBILE   │  maintai… │
│    149997 │ Custome… │ ufK xSg6… │ … │ 8936.2100… │ MACHINERY    │ xes hagg… │
│    149998 │ Custome… │ NaDi,1fC… │ … │ 5952.4100… │ BUILDING     │  ideas c… │
│    149999 │ Custome… │ nBpZoYhC… │ … │ 6104.0300… │ AUTOMOBILE   │ s haggle… │
│    150000 │ Custome… │ DD7m6OBU… │ … │ 2530.6800… │ AUTOMOBILE   │ kages na… │
└───────────┴──────────┴───────────┴───┴────────────┴──────────────┴───────────┘
 150000 rows (20 shown)

In [53]:
# Join a remote file and a remote database
con.sql(f"""
SELECT
    COUNT(sales.sale_date),
    lookup.borough_name
FROM
     read_parquet('https://github.com/GlareDB/tutorial_data/raw/main/quickstart_data/nyc_sales-2022_01.parquet') sales
JOIN
    read_postgres(
        'postgresql://demo:demo@pg.demo.glaredb.com:5432/postgres',
        'public',
        'borough_lookup'
    ) lookup
ON sales.borough = lookup.borough_id
GROUP BY lookup.borough_name;
""").show()

┌────────────────────────┬──────────────┐
│ COUNT(sales.sale_date) │ borough_name │
│                     ── │ ──           │
│                  Int64 │ Utf8         │
╞════════════════════════╪══════════════╡
│                   2270 │ BROOKLYN     │
│                    581 │ BRONX        │
│                   2429 │ QUEENS       │
│                   1683 │ MANHATTAN    │
│                    781 │ STATEN ISLA… │
└────────────────────────┴──────────────┘

In [73]:
# Save the remote Join to a local file
con.sql(f"""
COPY (
    SELECT
        COUNT(sales.sale_date),
        lookup.borough_name
    FROM
        read_parquet('https://github.com/GlareDB/tutorial_data/raw/main/quickstart_data/nyc_sales-2022_01.parquet') sales
    JOIN
        read_postgres(
            'postgresql://demo:demo@pg.demo.glaredb.com:5432/postgres',
            'public',
            'borough_lookup'
        ) lookup
    ON sales.borough = lookup.borough_id
    GROUP BY lookup.borough_name
) TO '../data/input/sales_aggregate_by_borough.parquet';
""").show()

┌──────────────┐
│ result       │
│ ──           │
│ Utf8         │
╞══════════════╡
│ Copy success │
└──────────────┘

In [72]:
# Query a Pandas dataframe
import pandas as pd
pandasdf = pd.DataFrame({"fruits": ["banana", "banana", "apple", "apple", "banana"]})
con.sql("select * from pandasdf").show()

┌────────┐
│ fruits │
│ ──     │
│ Utf8   │
╞════════╡
│ banana │
│ banana │
│ apple  │
│ apple  │
│ banana │
└────────┘

In [74]:
# Perform multiple DataFrame queries, which don't execute until show() is called
df = pd.DataFrame(
    {
        "a": [1, 2, 3, 4, 5],
        "fruits": ["banana", "banana", "apple", "apple", "banana"],
        "b": [5, 4, 3, 2, 1],
        "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
    }
)


intermediate = con.sql("select * from df where a > 2;")

# Note that we reference the variable 'intermediate' here.
con.sql("select * from intermediate where fruits = 'apple';").show()

# ┌───────┬────────┬───────┬────────┐
# │ a     │ fruits │ b     │ cars   │
# │ ──    │ ──     │ ──    │ ──     │
# │ Int64 │ Utf8   │ Int64 │ Utf8   │
# ╞═══════╪════════╪═══════╪════════╡
# │ 3     │ apple  │ 3     │ beetle │
# │ 4     │ apple  │ 2     │ beetle │
# └───────┴────────┴───────┴────────┘

┌───────┬────────┬───────┬────────┐
│     a │ fruits │     b │ cars   │
│    ── │ ──     │    ── │ ──     │
│ Int64 │ Utf8   │ Int64 │ Utf8   │
╞═══════╪════════╪═══════╪════════╡
│     3 │ apple  │     3 │ beetle │
│     4 │ apple  │     2 │ beetle │
└───────┴────────┴───────┴────────┘

In [75]:
# Execute a query immediately, like an INSERT
import glaredb
con = glaredb.connect()

# Create a table.
con.execute("create table my_table (a int)")
# Insert some data.
con.execute("insert into my_table values (1), (2)")

# Query the table we just created. Note that we're using `sql` here because we
# want to show the results.
con.sql("select * from my_table").show()

# ┌───────┐
# │ a     │
# │ ──    │
# │ Int32 │
# ╞═══════╡
# │ 1     │
# │ 2     │
# └───────┘

┌───────┐
│     a │
│    ── │
│ Int32 │
╞═══════╡
│     1 │
│     2 │
└───────┘

In [76]:
# Join a local DataFrame with a remote database
df = pd.DataFrame(
    {
        "region": [0, 1, 2, 3, 4],
        "population": [10, 20, 30, 40, 50]
    }
)

# Join the above Polars DataFrame on data from our demo Postgres instance
result = con.sql(
        """select
            t1.r_regionkey,
            t1.r_name,
            t2.Population
        from
            read_postgres('postgres://demo:demo@pg.demo.glaredb.com/postgres', 'public', 'region') as t1
        join
            df as t2 on t1.r_regionkey = t2.region;"""
).to_pandas();

print(result)

   r_regionkey                     r_name  population
0            3  EUROPE                             40
1            1  AMERICA                            20
2            0  AFRICA                             10
3            2  ASIA                               30
4            4  MIDDLE EAST                        50